@model IEnumerable<GUIEX2PROJECT.Models.RoomBooking>

@{
    ViewData["Title"] = "Index";
}
<h2>Reception</h2>

<h3>Breakfast Buffet Overview</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfAdultsCheckedInToBreakfast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfChildrenCheckedInToBreakfast)
            </th>
        </tr>
        <p>
            <a asp-action="Create">Create new booking</a>
        </p>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.NumberOfChildrenCheckedInToBreakfast)/@Html.DisplayFor(modelItem => item.NumberOfChildBreakfastReservations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfAdultsCheckedInToBreakfast)/@Html.DisplayFor(modelItem => item.NumberOfAdultBreakfastReservations)
            </td>
        </tr>
}
    </tbody>
</table>
