@model IEnumerable<GUIEX2PROJECT.Models.BreakfastReservation>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfChildReservations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfAdultReservations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfChildrenCheckedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfAdultsCheckedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.room)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfChildReservations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfAdultReservations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfChildrenCheckedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfAdultsCheckedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.room.RoomNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReservationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReservationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReservationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
