@model IEnumerable<GUIEX2PROJECT.Models.RoomBooking>

@{
    ViewData["Title"] = "Index";
}

<h2>Kitchen Page</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TotalChildrenNotCheckedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAdultsNotCheckedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalNotCheckedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalChildrenCheckedIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAdultsCheckedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCheckedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalExpectedChildren)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalExpectedAdults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalExpected)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    if (item.BookingId == 1)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalChildrenNotCheckedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAdultsNotCheckedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalNotCheckedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalChildrenCheckedIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAdultsCheckedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCheckedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalExpectedChildren)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalExpectedAdults)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalExpected)
            </td>

        </tr>
    }
 
}
    </tbody>
</table>

<button class="btn center" onClick="window.location.reload();">Refresh Table!</button>
