@model GUIEX2PROJECT.Models.RoomBooking

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>RoomBooking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumOfChildrenInRoom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumOfChildrenInRoom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumOfAdultsInRoom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumOfAdultsInRoom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfChildBreakfastReservations)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfChildBreakfastReservations)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfAdultBreakfastReservations)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfAdultBreakfastReservations)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfChildrenCheckedInToBreakfast)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfChildrenCheckedInToBreakfast)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfAdultsCheckedInToBreakfast)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfAdultsCheckedInToBreakfast)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Room.RoomId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
