@model IEnumerable<GUIEX2PROJECT.Models.RoomBooking>

@{
    ViewData["Title"] = "Index";
}

<h2>Restaurant</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.NumOfChildrenInRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfAdultsInRoom)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.NumberOfChildBreakfastReservations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfAdultBreakfastReservations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfChildrenCheckedInToBreakfast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfAdultsCheckedInToBreakfast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.TotalChildrenNotCheckedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAdultsNotCheckedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalNotCheckedIn)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.NumOfChildrenInRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfAdultsInRoom)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfChildBreakfastReservations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfAdultBreakfastReservations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfChildrenCheckedInToBreakfast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfAdultsCheckedInToBreakfast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.RoomId)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.TotalChildrenNotCheckedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAdultsNotCheckedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalNotCheckedIn)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookingId">Check Guests In!</a> |

            </td>
        </tr>
}
    </tbody>
</table>
